<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Enquetes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-800">
    <nav class="bg-gray-900 bg-opacity-90 backdrop-filter backdrop-blur-lg text-white p-4 shadow-xl border-b border-gray-800">
      <div class="container mx-auto flex justify-between items-center">
        <%= link_to 'Sistema de Enquetes', root_path, class: 'text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-purple-400' %>
        
        <div class="flex gap-4 items-center">
          <% if current_user && current_user.user_type == 'admin' %>
            <%= link_to 'Gerenciar Usuários', users_path, class: "bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition" %>
          <% end %>

          <%= link_to 'Resultado das Enquetes', closed_polls_path, class: 'text-gray-300 hover:text-green-400 transition' %>

          <% if logged_in? %>
            <%= link_to 'Minhas Enquetes', my_polls_path, class: 'text-gray-300 hover:text-blue-400 transition' %>
            <%= link_to 'Enquetes que Votei', voted_polls_path, class: 'text-gray-300 hover:text-purple-400 transition' %>
            <%= link_to 'Nova Enquete', new_poll_path, class: 'bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700 transition transform hover:scale-105' %>
            <%= button_to 'Sair', logout_path, method: :delete, class: 'bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 transition transform hover:scale-105' %>
          <% else %>
            <%= link_to 'Login', login_path, class: 'text-gray-300 hover:text-blue-400 transition' %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container mx-auto mt-8">
      <% if flash[:notice] %>
        <div class="bg-green-500 text-white px-4 py-2 rounded-lg mb-4"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="bg-red-500 text-white px-4 py-2 rounded-lg mb-4"><%= flash[:alert] %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>